# Team Stats Ranking

In [1]:
import pandas as pd
import numpy as np
import os
import math

In [49]:
ideal_state = pd.read_csv('C:/Users/Joe/Projects/fantasy_football/playground/def_clean.csv')

In [ ]:
df = pd.read_csv()

In [35]:
def team_rank(data, stat_col):
    #group and perform the ranking
    group = data.groupby(by=['seas', 'wk'], as_index=False, sort=False)
    rank = group[stat_col].rank(method='min', ascending=True)
    #add a suffix to the data
    rank.columns = [stat_col + '_rank']
    
    return rank

#### Make sure the functions are working

In [45]:
py_rank = team_rank(df, 'py')

In [46]:
py = df.loc[:, ['def_team', 'seas', 'wk', 'py']]

In [47]:
test = pd.concat([py, py_rank], axis=1)

In [48]:
test[(test['seas']==2001) & (test['wk']==9)].sort_values(by='py')

     def_team  seas  wk      py  py_rank
4319      MIA  2001   9   683.0      1.0
7708       TB  2001   9   705.0      2.0
5650      NYJ  2001   9   706.0      3.0
6447      PIT  2001   9   743.0      4.0
2947       GB  2001   9   753.0      5.0
5915      OAK  2001   9   775.0      6.0
818       BUF  2001   9   776.0      7.0
20        ARI  2001   9   799.0      8.0
6952      SEA  2001   9   807.0      9.0
1616      CIN  2001   9   816.0     10.0
2416      DEN  2001   9   835.0     11.0
6181      PHI  2001   9   851.0     12.0
3984       KC  2001   9   852.0     13.0
2149      DAL  2001   9   854.0     14.0
7218       SF  2001   9   862.0     15.0
7484      STL  2001   9   900.0     16.0
3717      JAC  2001   9   920.0     17.0
1350      CHI  2001   9   940.0     18.0
5384      NYG  2001   9   953.0     19.0
5117       NO  2001   9   962.0     20.0
1883      CLE  2001   9   969.0     21.0
2681      DET  2001   9   981.0     22.0
1085      CAR  2001   9   994.0     23.0
4585      MIN  2001   9  1000.0     24.0
3451      IND  2001   9  1001.0     25.0
553       BAL  2001   9  1028.0     26.0
4852       NE  2001   9  1039.0     27.0
286       ATL  2001   9  1061.0     28.0
6714       SD  2001   9  1078.0     29.0
7974      TEN  2001   9  1175.0     30.0